<html>
<body>

				<fieldset id="fieldset1" class="coolfieldset">
					<legend>Collaborazione tecnica specialistica in fase di sviluppo della progettazione definitiva di interventi di natura archeologica e/o di scavo archeologico redatta dal personale interno della Soprintendenza</legend>
					<div>
						<ul>
							<li>
								Tecnici (architetti) - <em>Requisiti: Iscrizione albo professionale</em>
							</li>
							<li>
								Archeologi - <em>Requisiti: Laurea magistrale in lettere classiche e specializzazione / Laurea nuovo ordinamento in conservazione beni culturali</em>
							</li>
						</ul>
						<hr class="service-separator">
					</div>
				</fieldset>


</body>
</html>
